*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  margin: 0 auto;
  overflow-x: hidden;
}

html {
  font-size: 10px;
  overflow-x: hidden;
}

ul {
  list-style: none;
}

a:link, a:visited, a:hover, a:active {
  font-family: inherit;
  text-decoration: none;
  cursor: pointer;
}

body {
  font-family: "Open Sans", sans-serif;
}

.heading-primary {
  width: 60%;
  font-size: 5.6rem;
  font-weight: 800;
  line-height: 6rem;
  text-shadow: 0 0px 10px #b47aec;
  color: #fff;
}

@media (min-width: 768px) {
  .heading-primary {
    line-height: 10rem;
    font-size: 8rem;
  }
}
@media (min-width: 1024px) {
  .heading-primary {
    font-size: 9.6rem;
  }
}
.heading-secondary {
  text-align: center;
  font-size: 3.6rem;
  color: #702bb1;
  font-weight: 700;
}

@media (min-width: 768px) {
  .heading-secondary {
    font-size: 4.2rem;
  }
}
@media (min-width: 1024px) {
  .heading-secondary {
    font-size: 5rem;
  }
}
.heading-tertiary {
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #702bb1;
}

@keyframes moveToRight {
  0% {
    opacity: 0;
    transform: translateX(-200%);
  }
  100% {
    opacity: 100;
    transform: translateX(0);
  }
}
@keyframes moveToLeft {
  0% {
    opacity: 0;
    transform: translateX(200%);
  }
  100% {
    opacity: 100;
    transform: translateX(0);
  }
}
@keyframes heroRotete {
  0% {
    opacity: 0;
    transform: rotate(180deg) scale(0.1);
  }
  100% {
    opacity: 100;
    transform: rotate(0deg) scale(1);
  }
}
@keyframes heroGrow {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 100;
    transform: scale(1);
  }
}
.footer {
  height: 25vh;
  background-color: #333333;
  text-align: center;
  padding: 5.6rem;
}
.footer__text {
  color: #fff;
  font-size: 1.4rem;
  margin-bottom: 9rem;
}
.footer__text-2 {
  font-size: 1.3rem;
}
.footer__link {
  color: #ecbff9;
}

.form__item {
  position: absolute;
  left: 12%;
  top: 45%;
  padding: 3.6rem;
  width: 50%;
  background-color: #fff;
  border-radius: 1.2rem;
}
.form__item-div {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}
.form__label {
  font-size: 1.6rem;
  margin-bottom: 0.6rem;
}
.form__input {
  width: 100%;
  padding: 1.5rem;
  font-size: 1.8rem;
  border-radius: 20px;
  background-color: #fff9fb;
  border: 2px solid #fbc6d9;
  text-align: start;
}
.form__input--message {
  height: 14rem;
}
.form__label-checkbox {
  font-size: 1.8rem;
}
.form__checkbox {
  margin-right: 0.8rem;
}
.form__link {
  color: #702bb1;
  text-decoration: none;
}
.form__button {
  margin-top: 3rem;
  text-align: center;
  display: block;
  width: 100%;
}

.header {
  width: 100%;
  background-color: #fff;
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}
.header__logo-img {
  height: 4rem;
}

.navigation-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 4rem;
  cursor: pointer;
}
.navigation-button__burger {
  width: 100%;
  height: 0.4rem;
  background-color: black;
}
.navigation-button__burger::before, .navigation-button__burger::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.4rem;
  background-color: black;
}
.navigation-button__burger::before {
  transform: translateY(1rem);
}
.navigation-button__burger::after {
  transform: translateY(-1rem);
}

.button:link, .button:visited {
  padding: 1.6rem 5rem;
  font-size: 2rem;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  background-color: #702bb1;
  border-radius: 2rem;
}
.hero {
  width: 100vw;
  height: 100vh;
  background-image: url(/img/background-img-1.jpg);
  background-size: cover;
}
.hero__wrapper {
  position: relative;
  padding: 15rem 0;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 4rem;
}
.hero__links {
  justify-self: center;
  align-self: start;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  width: 70%;
  padding: 1.6rem;
  background-image: linear-gradient(#b47aec, #702bb1);
  border-radius: 6rem;
  animation: heroGrow 2s;
}
.hero__links-item:link, .hero__links-item:visited {
  font-size: 1.4rem;
  color: #fff;
}
.hero__links-item:link:not(:last-child), .hero__links-item:visited:not(:last-child) {
  padding-right: 1.5rem;
  border-right: 0.2rem solid #fff;
}
.hero__links-item:hover, .hero__links-item:active {
  color: rgb(190, 190, 190);
}
@media (min-width: 768px) {
  .hero-links {
    padding: 2.6rem;
    font-size: 2rem;
    top: 60%;
    width: 70%;
  }
}
@media (min-width: 1024px) {
  .hero-links {
    top: 50%;
    width: 52%;
  }
}
.hero__imgs {
  position: absolute;
  height: 100vh;
  width: 100%;
}
.hero__imgs-1 {
  position: absolute;
  top: 4%;
  left: 5%;
  height: 25rem;
  animation: moveToRight 2s;
}
.hero__imgs-2 {
  position: absolute;
  top: 4%;
  right: 4%;
  height: 17rem;
  animation: heroRotete 2s;
}
.hero__imgs-3 {
  position: absolute;
  top: 79%;
  left: 7%;
  height: 15rem;
  animation: moveToRight 2.5s;
}
.hero__imgs-4 {
  position: absolute;
  top: 85%;
  right: 10%;
  height: 12rem;
  animation: moveToLeft 2s;
}

.container {
  position: relative;
  max-width: 120rem;
  margin: 0 auto;
}

.heading-primary {
  place-self: center;
  text-align: center;
  animation: heroGrow 2s;
}

.offer {
  margin-bottom: 20rem;
  margin-top: 15rem;
}
.offer__items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 6rem;
  margin: 8rem 0;
}
.offer__item {
  width: 55rem;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 2fr;
  gap: 1rem;
}
.offer__item-icon {
  width: 14rem;
  grid-row: 1/-1;
}
.offer__item-text {
  font-size: 1.6rem;
}

@media (min-width: 768px) {
  .offer__items {
    gap: 10%;
    row-gap: 10rem;
  }
  .offer__item {
    width: 40%;
  }
}
.company {
  margin-bottom: 12rem;
}
.company__background {
  position: relative;
}
.company__img-1 {
  margin-left: 14rem;
  width: 74rem;
  z-index: -1;
}
.company__img-2 {
  position: absolute;
  left: 12rem;
  bottom: -4rem;
  width: 65rem;
}
.company__shape-1 {
  position: absolute;
  top: 2%;
  right: 8%;
  width: 18rem;
  height: 18rem;
  border-radius: 30rem;
  background-image: linear-gradient(to right, #ecbff9, #ffcca4);
}
.company__shape-2 {
  position: absolute;
  top: 58%;
  right: 18%;
  width: 10rem;
  height: 10rem;
  border-radius: 30rem;
  background-image: linear-gradient(to right, #ecbff9, #ffcca4);
}
.company__items {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 3rem;
  margin-top: -7rem;
}
.company__item {
  padding: 3rem;
  text-align: center;
  border-radius: 3rem;
  background-image: linear-gradient(#ecbff9, #ffcca4);
  z-index: 2;
}
.company__item:nth-child(odd) {
  background-image: linear-gradient(#f2f2f2, #f2f2f2);
}
.company__item-text {
  font-size: 1.8rem;
  line-height: 1.7;
}

.digital-design {
  background-image: url(/img/background-img-1.jpg);
  height: 100vh;
}
.digital-design__wrapper {
  display: flex;
  align-items: center;
  height: 100%;
  position: relative;
}
.digital-design__item {
  background-color: #fff;
  width: 46%;
  padding: 12rem 3rem;
  border-radius: 3rem;
}
.digital-design__heading {
  text-align: start;
  margin-bottom: 2rem;
}
.digital-design__text {
  font-size: 2rem;
  line-height: 1.7;
  margin-bottom: 10rem;
}
.digital-design__img {
  position: absolute;
}
.digital-design__img-1 {
  width: 12rem;
  top: 2%;
  left: 0;
}
.digital-design__img-2 {
  width: 25rem;
  top: 12%;
  left: 40%;
}
.digital-design__img-3 {
  width: 10rem;
  top: 30%;
  right: 10%;
  transform: rotate(90deg);
}
.digital-design__img-4 {
  width: 22rem;
  top: 60%;
  right: 16%;
}
.digital-design__img-5 {
  width: 28rem;
  top: 70%;
  left: 20%;
}

.what-we-do {
  background-color: #fff6ef;
}
.what-we-do__background-gradient {
  height: 40vh;
  background-image: linear-gradient(#ecbff9, #fbc6d9);
}
.what-we-do__wrapper {
  position: relative;
  height: 100vh;
  margin-top: -20vh;
}
.what-we-do__item {
  position: absolute;
  right: 0;
  background-color: #fff;
  width: 46%;
  padding: 18rem 3rem;
  border-radius: 3rem;
}
.what-we-do__heading {
  text-align: start;
  margin-bottom: 2rem;
}
.what-we-do__text {
  font-size: 2rem;
  line-height: 1.7;
  margin-bottom: 10rem;
}
.what-we-do__img {
  position: absolute;
  width: 10rem;
}
.what-we-do__img-1 {
  width: 28rem;
  top: -6%;
  left: 53%;
  rotate: 30deg;
}
.what-we-do__img-2 {
  width: 28rem;
  top: 5%;
  left: 16%;
}
.what-we-do__img-3 {
  width: 18rem;
  top: 60%;
  left: 8%;
}
.what-we-do__img-4 {
  width: 14rem;
  top: 65%;
  left: 62%;
  rotate: 90deg;
}

.about-us {
  position: relative;
  height: 100vh;
  background-image: url(/img/background-img-2.jpg);
  background-size: cover;
}
.about-us__wrapper {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.about-us__item {
  background-color: #fff;
  padding: 3rem;
  padding-bottom: 6rem;
}
.about-us__heading {
  font-size: 4.6rem;
  text-align: start;
}
.about-us__text {
  font-size: 1.6rem;
  line-height: 1.7;
  margin-bottom: 7rem;
}
.about-us__media {
  display: flex;
  gap: 3rem;
}
@media (min-width: 768px) {
  .company__items {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
@media (min-width: 1024px) {
  .company__items {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }
}
.form__wrapper {
  position: relative;
  height: 100vh;
  margin-bottom: 35rem;
}
.form__img-blob {
  width: 120rem;
  margin-top: -3rem;
  margin-left: 20rem;
}
.form__img {
  position: absolute;
  width: 20rem;
  left: 0;
}
.form__img-1 {
  width: 40rem;
  top: 20%;
  rotate: 30deg;
}
.form__img-2 {
  width: 25rem;
  top: 17%;
  left: 75%;
}
.form__img-3 {
  width: 25rem;
  top: 70%;
  left: 75%;
  rotate: -140deg;
}
.form__img-4 {
  width: 35rem;
  top: 75%;
  left: 45%;
  rotate: -140deg;
}
.form__img-5 {
  width: 14rem;
  top: 100%;
  left: 10%;
  rotate: 90deg;
}/*# sourceMappingURL=style.css.map */