@import 'abstracts/mixins';
@import 'abstracts/variables';

@import 'base/reset';
@import 'base/typography';
@import 'base/animations';
@import 'base/utilities';

@import 'layout/footer';
@import 'layout/forms';
@import 'layout/header';
@import 'layout/navigation';
@import 'layout/sidebar';

@import 'components/buttons';
// @import 'components/carousel';
// @import 'components/slider';

@import 'pages/home';
@import 'pages/page-1';
@import 'pages/page-2';

// @import 'themes/theme';
// @import 'themes/admin';

.company {
  margin-bottom: 12rem;
  //   text-align: center;
  &__background {
    position: relative;
  }
  &__img-1 {
    margin-left: 14rem;
    width: 74rem;
    z-index: -1;
  }

  &__img-2 {
    position: absolute;
    left: 12rem;
    bottom: -4rem;
    width: 65rem;
  }

  &__shape-1 {
    position: absolute;
    top: 2%;
    right: 8%;

    width: 18rem;
    height: 18rem;
    border-radius: 30rem;
    background-image: linear-gradient(to right, #ecbff9, #ffcca4);
  }
  &__shape-2 {
    position: absolute;
    top: 58%;
    right: 18%;

    width: 10rem;
    height: 10rem;
    border-radius: 30rem;
    background-image: linear-gradient(to right, #ecbff9, #ffcca4);
  }

  &__items {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 3rem;
    margin-top: -7rem;
  }
  &__item {
    padding: 3rem;
    text-align: center;
    border-radius: 3rem;
    background-image: linear-gradient(#ecbff9, #ffcca4);
    z-index: 2;

    &:nth-child(odd) {
      background-image: linear-gradient(#f2f2f2, #f2f2f2);
    }

    // &-number {
    //   margin-bottom: 3rem;
    //   font-size: 4.6rem;
    //   font-weight: 700;
    //   color: #702bb1;
    // }

    &-text {
      font-size: 1.8rem;
      line-height: 1.7;
    }
  }
}
//Digital design
.digital-design {
  background-image: url(/img/background-img-1.jpg);
  height: 100vh;

  &__wrapper {
    display: flex;
    align-items: center;
    height: 100%;
    position: relative;
  }

  &__item {
    background-color: #fff;
    width: 46%;
    padding: 12rem 3rem;
    border-radius: 3rem;
    // text-align: start;
  }

  &__heading {
    text-align: start;
    margin-bottom: 2rem;
  }

  &__text {
    font-size: 2rem;
    line-height: 1.7;
    margin-bottom: 10rem;
  }

  &__img {
    position: absolute;

    &-1 {
      width: 12rem;
      top: 2%;
      left: 0;
    }
    &-2 {
      width: 25rem;
      top: 12%;
      left: 40%;
    }
    &-3 {
      width: 10rem;
      top: 30%;
      right: 10%;
      transform: rotate(90deg);
    }
    &-4 {
      width: 22rem;
      top: 60%;
      right: 16%;
    }
    &-5 {
      width: 28rem;
      top: 70%;
      left: 20%;
    }
  }
}
//what we do
.what-we-do {
  background-color: #fff6ef;

  &__background-gradient {
    height: 40vh;
    background-image: linear-gradient(#ecbff9, #fbc6d9);
  }
  &__wrapper {
    position: relative;
    height: 100vh;
    margin-top: -20vh;
  }
  &__item {
    position: absolute;
    right: 0;
    background-color: #fff;
    width: 46%;
    padding: 18rem 3rem;
    border-radius: 3rem;
  }
  &__heading {
    text-align: start;
    margin-bottom: 2rem;
  }
  &__text {
    font-size: 2rem;
    line-height: 1.7;
    margin-bottom: 10rem;
  }
  &__img {
    position: absolute;
    width: 10rem;
    &-1 {
      width: 28rem;
      top: -6%;
      left: 53%;
      rotate: 30deg;
    }
    &-2 {
      width: 28rem;
      top: 5%;
      left: 16%;
    }
    &-3 {
      width: 18rem;
      top: 60%;
      left: 8%;
    }

    &-4 {
      width: 14rem;
      top: 65%;
      left: 62%;
      rotate: 90deg;
    }
  }
}

//about-us
.about-us {
  position: relative;
  height: 100vh;
  background-image: url(/img/background-img-2.jpg);
  background-size: cover;

  &__wrapper {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);

    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  &__item {
    background-color: #fff;
    padding: 3rem;
    padding-bottom: 6rem;
  }
  &__heading {
    font-size: 4.6rem;
    text-align: start;
  }
  &__text {
    font-size: 1.6rem;
    line-height: 1.7;
    margin-bottom: 7rem;
  }
  &__media {
    display: flex;
    gap: 3rem;
  }
  &__media-link {
  }
}

@media (min-width: 768px) {
  .company {
    &__items {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
    }
  }
}
@media (min-width: 1024px) {
  .company {
    &__items {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr;
    }
  }
}

//form
.form {
  &__wrapper {
    position: relative;
    height: 100vh;
    margin-bottom: 35rem;
  }
  &__img-blob {
    width: 120rem;
    margin-top: -3rem;
    margin-left: 20rem;
  }

  &__img {
    position: absolute;
    width: 20rem;
    left: 0;
    &-1 {
      width: 40rem;
      top: 20%;
      rotate: 30deg;
    }
    &-2 {
      width: 25rem;
      top: 17%;
      left: 75%;
    }

    &-3 {
      width: 25rem;
      top: 70%;
      left: 75%;
      rotate: -140deg;
    }

    &-4 {
      width: 35rem;
      top: 75%;
      left: 45%;
      rotate: -140deg;
    }

    &-5 {
      width: 14rem;
      top: 100%;
      left: 10%;
      rotate: 90deg;
    }
  }
}
