body {
  font-family: 'Open Sans', sans-serif;
  // font-size: 2rem;
}

//headings
.heading-primary {
  width: 60%;
  font-size: 4rem;
  font-weight: 800;
  line-height: 5rem;
  text-align: center;
  color: $color-white;
  text-shadow: 0 0px 10px #b47aec;
}
@media (min-width: 768px) {
  .heading-primary {
    line-height: 10rem;
    font-size: 8rem;
  }
}
@media (min-width: 1024px) {
  .heading-primary {
    font-size: 9.6rem;
  }
}

.heading-secondary {
  // width: 70%;
  text-align: center;
  font-size: 3rem;
  color: $color-purple-main;
  font-weight: 700;
  line-height: 1.2;
}
@media (min-width: 768px) {
  .heading-secondary {
    font-size: 4rem;
  }
}
@media (min-width: 1024px) {
  .heading-secondary {
    font-size: 5rem;
  }
}

.heading-tertiary {
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: $color-purple-main;
}

@media (min-width: 768px) {
  .heading-tertiary {
    font-size: 2rem;
  }
}
@media (min-width: 1024px) {
  .heading-tertiary {
    font-size: 2rem;
  }
}
